/* css form */
* {
  margin: 0px;
  padding: 0px;
}

.contain {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  min-height: 81.1vh;
}

input:focus,
textarea:focus {
  outline: 1px solid black;
}

input,
textarea,
button {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 120px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
input,
textarea {
  min-height: 3em;
}

button {
  background: lightgrey;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
}

.contact {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

header {
  width: 100%;
  background-color: #a6cbde;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

footer {
  width: 100%;
  background-color: #222a2e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 50px;
}

.btn {
  width: 100px;
}

.send-receive {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

@media (max-width: 768px) {
  .form form {
    display: flex;
    flex-direction: column;
  }
}
